**/target/
**/build/
**/dist/
**/generatedsources/
!**/ui/build
**/.idea
**/.gradle
*.iml
logs
**/gradle
**/gradlew
**/gradlew.bat

**/out/

/.idea/

.idea/

**/node_modules/
**/bundle.js
**/bundle.js.map
**/bundle.css
**/bundle.css.map

.cache/